.PageTitle {
    display: flex;
    justify-content: flex-start;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    flex-direction: column;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}

.GenreDropdown {
    margin-top: -35px;
    margin-left: 280px;
}

.TitleCards {
    margin-top: 90px;
}

.Footer {
    margin-top: 120px;
}